[submodule "Locale"]
	path = Locale
	url = git://github.com/croogo/locale.git
[submodule "Migrations"]
	path = Plugin/Migrations
	url = git://github.com/CakeDC/migrations.git
[submodule "Search"]
	path = Plugin/Search
	url = git://github.com/CakeDC/search.git
[submodule "Ckeditor"]
	path = Plugin/Ckeditor
	url = git://github.com/croogo/Ckeditor.git
[submodule "Plugin/Project"]
	path = Plugin/Project
	url = https://github.com/djstearns/appcreator-plugin.git
[submodule "Plugin/Auditlog"]
	path = Plugin/Auditlog
	url = https://github.com/djstearns/auditlog-plugin.git
[submodule "Plugin/AuditLog"]
	path = Plugin/AuditLog
	url = https://github.com/djstearns/auditlog-plugin.git
[submodule "Plugin/Audit_log"]
	path = Plugin/Audit_log
	url = https://github.com/djstearns/auditlog-plugin.git
