[submodule "Locale"]
	path = Locale
	url = https://github.com/croogo/locale.git
[submodule "Migrations"]
	path = Plugin/Migrations
	url = https://github.com/CakeDC/migrations.git
[submodule "Search"]
	path = Plugin/Search
	url = https://github.com/CakeDC/search.git
[submodule "Ckeditor"]
	path = Plugin/Ckeditor
	url = https://github.com/croogo/Ckeditor.git
[submodule "Plugin/Project"]
	path = Plugin/Project
	url = https://github.com/djstearns/appcreator-plugin.git
[submodule "Plugin/AuditLog"]
	path = Plugin/AuditLog
	url = https://github.com/djstearns/auditlog-plugin.git
[submodule "View/Themed/Bootstrap-Responsive-Croogo"]
	path = View/Themed/Bootstrap-Responsive-Croogo
	url = https://github.com/djstearns/Bootstrap-Responsive-Croogo.git
[submodule "Plugin/Braintree"]
	path = Plugin/Braintree
	url = https://github.com/djstearns/Croogo-Braintree-Plugin.git
